nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    color: white;
}
#nav-end    {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}
button{
    background-color: teal;
    color: white;
    margin: 10px;
}
#main   {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}
#left-side  {
    width: 800px;
}
#profile-card   {
    width: 700px;
    border: 1px solid black;
    margin: 0px 20px 20px 0px;
}
#blue   {
    width: 700px;
    height: 70px;
    background-color: teal;
}
#education  {
    width: 700px;
    border: 1px solid black;
}
#ed-top {
    width: 700px;
    height: 50px;
    background-color: black;
    border: 1px solid black;
}
#right-side {
    width: 300px;
}
#request-top, #connections-top    {
    width: 300px;
    height: 30px;
    background-color: black;
    color: white;
    border: 1px solid black;
}
#request-bottom, #connections-bottom {
    width: 300px;
    border: 1px solid black;
    margin-bottom: 20px;
}
.profile-circle {
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}
.connections-person {
    display: flex;
    flex-direction: row;
    /* padding: 5px; */
    justify-content: flex-start;
}
